/Messages/obj
/Messages/Bin/Debug
/Messages/Bin/Release
/Messages/.vs/Messages/v16
/Notes
/TestProj/obj
/TestProj/Bin/Debug
/TestProj/Bin/Release
/Database/obj
/Database/Bin/Debug
/Database/Bin/Release
/Database_Backup

